* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: .1s;
}

body {
  font-family: 'Hind', sans-serif;
}

#main.box_flex {
  width: 100vw;
  display: flex;
}

.box_flex > .left {
  min-width: 200px;
  padding: 20px;
  background-color: #0d0607;
  color: #fff;
  height: 90vh;  /*temporanea (da eliminare) */
  display: flex;
  flex-basis: 20%; /* non fa sovrapporre icona audio */
  flex-direction: column;
  justify-content: space-between;
  flex:1;
}

.left_top-content > img {
  width: 140px;
  margin-bottom: 20px;
}

.fas.fa-volume-up:before {
  position: relative;
  left: 50px;
  top: 10px;
}

.left_top-content > a > i:before {
  display: inline-block;
  width: 28px;
  padding-right: 10px;
  text-align: center;
}

.left > .left-top-content {
  position: relative;
}

.left_top-content > .v_b-green {
  position: absolute;
  left: 0;
  top: 109px;
  background-color: #1db855;
  width: 3px;
  height: 30px;
}

.left_top-content a:hover,
.left_bottom-content a:hover,
.r-t_l > a:hover,
.navi > a:hover {
  color: #fff;
  text-decoration: none;
}

.r-t_l > a.active:hover {
  color: #aaa;
  text-decoration: none;
}

.left_top-content > h5 {
  font-size: 14px;
}

.recenti-title span, .r-t_l > span {
  font-size: 14px;
  font-weight: lighter;
}

.recenti-title > span.D_C_T-d,
.left_top-content > a,
.left_top-content > h5 {
  margin-bottom: 8px;
}

.left_top-content > a:last-of-type {
  margin-bottom: 27px;
}

.far.fa-arrow-alt-circle-down,
.fas.fa-user-alt {
  padding-right: 15px;
}

.left_bottom-content > hr {
  margin: 8px 0;
  border: .5px solid #aaa;
}

.left_bottom-content > .user {
  padding: 8px;
}

.box_flex > .right {
  width: 100%;
  height: 90vh;
  background: linear-gradient(0.9turn, #31151e, #612a3b);
  overflow-y: scroll;
}

.right > .right-container {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.right .hamb_navi {
  position: fixed;
  top: 10px;
  right: 20px;
  color: #ededed;
  display: none;
}

.right .navi {
  padding: 30px 0;
  margin-bottom: 75px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.navi > a.b_active {
  color: #fff;
  position: relative;
}

.box-green {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 3px;
}

.box-green > .o_b-green {
  display: block;
  width: 30%;
  height: 100%;
  margin: auto;
  background-color: #1db855;
}

.right .plist {
  display: flex;
  flex-wrap: wrap;
}

.plist h2 {
  font-size: 40px;
  margin: 30px 0;
}

.plist h2.accadue_r,
.plist h2.accadue_p,
.plist h2.accadue_fg {
  font-size: 40px;
}

.album .album-img {
  width: 100%;
  height: auto;
}

.A {
  position: relative;
}

.A > .layover-play {
  height: 100%;
  width: 100%;
  background-color: rgba(30, 30, 30, 0.5);
  position: absolute;
  top: 0;
  justify-content: center; /* centra orizz. icona play */
  align-items: center; /* centra vert. icona play */
  color: #fff;
  display: none;
}

.A:hover > .layover-play {
  display: flex;
}

.album > .B {
  height: 30%;
}

.B > h6{
  height: 100%;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

#footer {
  background-color: #282828;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;;
  color: #fff;
}

#footer > .album_f {
  height: 100%;
  display: flex;
  align-items: center;
}

.album_f > .mini_cover {
  background-image: url('imgs/foo.png');
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
}

.album_f > .tit_byl {
  margin: 0 20px 0 15px;
}

.tit_byl > a {
  display: block;
  font-size: 13px;
}

.tit_byl > a:hover {
  color: #fff;
}

.fas.fa-heart {
  color: #1db855;
}

#footer > .controls {
  width: 40%;
}

#footer > .controls_2 {
  width: 15%;
}

.controls > .player {
  text-align: center;
}

#footer > .controls i.fas {
  padding: 0 20px;
}

#footer > .controls_2 i.fas {
  padding: 0 5px;
}

.bar-player.b-p_2 {
  width: 50%;
}

.icon-controls {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.controls > .bar-player,
.controls_2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.bar-player > .empty-bar {
  display: inline-flex; /* fa sovrapporre la barra corta bianca sopra la lunga grigia */
  width: 100%;
  height: 5px;
  background-color: #383838;
  border-radius: 2.5px;
  margin: 0 8px;
}

.empty-bar > .full-bar {
  display: inline-block;
  width: 25%;
  height: 100%;
  background-color: #b3b3b3;
  border-radius: 2.5px;
}

/***** HELPER CLASSES *****/

.D_C_T-d {
  display: block;
  color: #aaa;
  text-decoration: none;
}

.active {
 display: block;
 color: #fff;
}

.no.active {
 display: none;
}

.mycolore_w {
  color: #fff;
}

.p-orzz {
  padding-left: 15px;
  padding-right: 15px;
}

/***** MEDIA QUERY TABLET*****/

@media screen and (max-width: 960px) {

  .right .navi {
    display: none;
  }

  .right .hamb_navi {
    display: block;
    z-index: 1;
  }

  .plist.b_t {
    margin-top: 80px;
  }

  .left_top-content span,
  .left_top-content h5,
  .left_top-content .r-t_l i[class*="fa-volume-up"],
  .left_bottom-content span {
    display: none;
  }

  .left_bottom-content > .user {
    padding: 0;
  }

  .box_flex > .left {
    min-width: 69px;
  }

  #footer > .controls {
    width: 75%;
  }

  .fa-play-circle:before {
    font-size: 20px;
  }

  #footer > .controls i.fas {
    padding: 0;
  }

  .controls_2 {
    flex-direction: column;
  }

  .icon-controls {
    justify-content: center;
  }

  .bar-player > .empty-bar {
    margin: 0;
  }

  .album_f > .tit_byl {
    margin-right: -15px;
  }

  .fa-heart:before {
    display: inline-block;
    margin-top: 18px;
  }

  .album_f > .mini_cover {
    display: none;
  }
}

/***** MEDIA QUERY SMARTPHONE*****/

@media screen and (max-width: 450px) {

  .album_f > .tit_byl {
    width: 100%;
    margin: 0;
  }

  #footer {
    height: 180px;
    flex-direction: column;
    padding: 25px 0;
  }

  #footer > .controls {
    width: 90%;
    margin: -7px 0 15px;
  }

  #footer > .controls_2 {
    width: 50%;
    flex-direction: row;
  }
}
